html,
body,
#root {
  height: 100%;
  background-color: black;
}

body {
  margin: 0% 10% 0% 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: red;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .headerLogo {
    height: 50%;
    width: 50%;
  }
}

.App {
  height: 100%;
  background-color: red;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  background-color: white;
}

.loader {
  background-color: "red";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 200px;
  height: 200px;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loadingtext {
  width: 25%;
  object-fit: "contain";
  animation: pulse 0.5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  transition-duration: 0.2s;
}
.card:hover {
  transform: scale(1.1);
}

.cardPop{
  animation: 0.4s ease-out fadeIn 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


@keyframes pop {
  0% {
    transform: scale(0);
  }
  80%{
    transform: scale(1.2)

  }
  100% {
    transform: scale(1);
  }
}




