html,
body,
#root {
  height: 100%;
  background-color: black;
}

body {
  margin: 0% 10% 0% 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: red;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .headerLogo {
    height: 50%;
    width: 50%;
  }
}

.App {
  height: 100%;
  background-color: red;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  background-color: white;
}

.loader {
  background-color: "red";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameover{
  width:50vw;
 position:absolute;
 top:40%;
 left: 25%;
 object-fit: contain;
}

.gameoverScore{
  color: white;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

button:hover{
  transform: scale(1.1);
}

.spinner {
  width: 200px;
  height: 200px;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loadingtext {
  width: 25%;
  object-fit: "contain";
  animation: pulse 0.5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.card {
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 140px;
  height: 200px;
  transition-duration: 0.2s;
  margin: 20px;
  border: 2px solid brown;
  border-radius: 10px;
  box-shadow:5px 5px 5px black ;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardTitle{
  display: flex;
  font-size: 100%;
  justify-content: space-between;
  resize: none;
  max-height: 20px;
}

.cardImage{
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cardMargins{
  padding: 5px 5px 0px 5px ;
  border-radius: 5px;
  background-image:  radial-gradient(white,orange);
}
.card:hover {
  transform: scale(1.1);
}

.cardPop{
  animation: pop 0.4s ease-out  ;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  80%{
    transform: scale(1.2)
  }
  100% {
    transform: scale(1);
  }
}




